.card {
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, .1);
    margin-bottom: 65px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.card-body-stars {
    list-style-type: none;
    margin: 12px 0;
    padding: 0;
}

.card-body-stars > li {
    cursor: pointer;
    display: inline-block;
    float: left;
}